In [7]:
import os
import shutil

import librosa
import pandas as pd
import soundfile as sf

from tqdm.auto import tqdm

# AI4B in LJSpeech format

In [2]:
data_dir = "/home/gokul_kumar/Desktop/data/tts/ai4b"
data_dir_new = data_dir.replace('ai4b', 'ai4b_preprocessed')

In [ ]:
os.makedirs(data_dir_new)

In [3]:
shutil.copytree(f'{data_dir}/male/mono/wav', f'{data_dir_new}/wavs')

'/home/gokul_kumar/Desktop/data/tts/ai4b_preprocessed/wavs'

In [6]:
shutil.copytree(f'{data_dir}/female/mono/wav', f'{data_dir_new}/wavs', dirs_exist_ok=True)

'/home/gokul_kumar/Desktop/data/tts/ai4b_preprocessed/wavs'

In [23]:
metadata_male_fp = f"{data_dir}/male/mono/txt.done.data"
metadata_male = pd.read_csv(metadata_male_fp, sep='"', usecols=[0,1], header=None)
metadata_male[0] = metadata_male[0].str[2:].str.strip()
metadata_male[1] = metadata_male[1].str.strip()
metadata_male[2] = 'male'
print(metadata_male.shape)
metadata_male.head()

(3717, 3)

,0,1,2
0,train_tamilmale_00001,அது தஞ்சாவூர்க் கோட்டைக்குள் பிரவேசிக்கவும் சக...,male
1,train_tamilmale_00002,அதற்குத் தகுந்தபடி ஏதாவது கொஞ்சம் பேசி வேஷம் ப...,male
2,train_tamilmale_00003,ஆனால் அவன் எதிர்பார்த்த சந்தர்ப்பம் ஒன்றும் கி...,male
3,train_tamilmale_00004,அப்படியும் பல்லக்கு கீழே வைக்கப்படவில்லை ஒரே ம...,male
4,train_tamilmale_00005,கோட்டைக்குள் பல்லக்குப் போய்விட்டால் அப்புறம் ...,male

In [24]:
metadata_female_fp = f"{data_dir}/female/mono/txt.done.data"
metadata_female = pd.read_csv(metadata_female_fp, sep='"', usecols=[0,1], header=None)
metadata_female[0] = metadata_female[0].str[2:].str.strip()
metadata_female[1] = metadata_female[1].str.strip()
metadata_female[2] = 'female'
print(metadata_female.shape)
metadata_female.head()

(3243, 3)

,0,1,2
0,train_tamilfemale_00001,"அதற்குத் தகுந்தபடி, ஏதாவது கொஞ்சம் பேசி, வேஷம்...",female
1,train_tamilfemale_00002,"ஆனால், அவன் எதிர்பார்த்த சந்தர்ப்பம் ஒன்றும், ...",female
2,train_tamilfemale_00003,"அப்படியும், பல்லக்கு கீழே வைக்கப்படவில்லை ஒரே ...",female
3,train_tamilfemale_00004,"கோட்டைக்குள் பல்லக்குப் போய்விட்டால், அப்புறம்...",female
4,train_tamilfemale_00005,"எடுத்த காரியத்தை முடிக்காமல், உயிரோடு திரும்பி...",female

In [25]:
metadata = pd.concat([metadata_male, metadata_female]).reset_index(drop=True)
metadata

,0,1,2
0,train_tamilmale_00001,அது தஞ்சாவூர்க் கோட்டைக்குள் பிரவேசிக்கவும் சக...,male
1,train_tamilmale_00002,அதற்குத் தகுந்தபடி ஏதாவது கொஞ்சம் பேசி வேஷம் ப...,male
2,train_tamilmale_00003,ஆனால் அவன் எதிர்பார்த்த சந்தர்ப்பம் ஒன்றும் கி...,male
3,train_tamilmale_00004,அப்படியும் பல்லக்கு கீழே வைக்கப்படவில்லை ஒரே ம...,male
4,train_tamilmale_00005,கோட்டைக்குள் பல்லக்குப் போய்விட்டால் அப்புறம் ...,male
...,...,...,...
6955,train_tamilfemale_03239,"பின்பு அவர், துரியோதனனுடன் சதுரங்கம் ஆடி, அதில...",female
6956,train_tamilfemale_03240,"பெட்டிக்குள்ளிருந்த, கல்லில்தான் ஏதோ மாயசக்தி ...",female
6957,train_tamilfemale_03241,"அது போல, சத்துருஜித்தின் தாத்தா யுதாஜித், உஜ்ஜ...",female
6958,train_tamilfemale_03242,"அது கேட்டு கும்பகர்ணன், நீங்கள் சீதையைக் கவர்ந...",female
6959,train_tamilfemale_03243,"அப்படி இல்லாமல், முன்பின் சற்றும் யோசியாது, அவ...",female

In [28]:
metadata.to_csv(f'{data_dir_new}/metadata.csv', sep='|', index=False, header=False)

## Resampling

In [3]:
os.makedirs(f'{data_dir_new}/wavs-20k')

In [12]:
for fn in tqdm(os.listdir(f'{data_dir_new}/wavs')):
    fp_src = f'{data_dir_new}/wavs/{fn}'
    fp_dst =  f'{data_dir_new}/wavs-20k/{fn}'

    y, sr = librosa.load(fp_src, sr=22050)
    sf.write(fp_dst, y, sr, 'PCM_24')

HBox(children=(FloatProgress(value=0.0, max=6960.0), HTML(value='')))